.logo_place_footer {
  height: 35px;
<<<<<<< HEAD
  background-image: url(../../../../images/logo_place_footer.svg);
=======
  background-image: url(../../../images/logo_place_footer.svg);
>>>>>>> bd35d97760c3e58392f7d798e391426bf67bc724
}
