.header__title {
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 730px;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  z-index: 2;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}