cc.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
}

.section__fonts {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  margin:0;
  padding:0;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  top:30px;
  left:64px;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__title {
  display: flex;
  width: 730px;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  z-index: 2;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
  font-size: 18px;
  line-height: 25px;
}

.description {
  display: flex;
  margin:0;
  padding:0;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.two-columns {
  display: flex;
  width: 80%;
}

.two-columns__brief {
  margin:0;
  padding:0;
  width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  padding-right: 50px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  min-width: 784px;
  margin:0;
  padding:0;
}

.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  margin:0;
  padding:0;
  line-height: 34px;
  font-size: 24px;
  padding-bottom:30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.digits {
  padding-bottom: 100px;
}

.flex-column_centered {
display: flex;
flex-direction: column;
align-items: center;
}

.section-title {
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15em;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin:0;
  padding:0;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin:0;
  padding:0;
  margin-top: 20px;
  line-height: 1.2em;
  font-size: 18px;
}

.section__margin-top_20 {
  margin-top:20px;
}

.feynman {
  height: 890px;
  background-image: url(../images/feynman.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.feynman__title {
  width: 648px;
  margin:0;
  padding:0;
  margin-bottom: 70px;
  line-height: 1.15em;
  font-size: 120px;
  text-align: center;
}

.feynman__subtitle {
  margin:0;
  padding:0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  margin:0;
  padding:0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 45px;
  top: 50%;
}

.link_decoration {
  text-decoration: none;
  color: #2f80ed;
  font-weight: normal;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.table_theme_dark {
  z-index: 1;
}

.theme_dark {
  color: white;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  color:#f2f2f2;

}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  margin:0;
  padding:0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-top:20px;
  margin-bottom: 16px;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  vertical-align: text-top;
}

.footer__column-links_indent {
  margin: 10px 0;
}

.social-icon {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  padding-right: 26px;
}

.social-icon_Facebook {
  background-image: url(../images/facebook_color_white.svg);
  background-repeat: no-repeat;
  background-position-y:bottom;
}

.social-icon_ВКонтакте {
  background-image: url(../images/vk_color_white.svg);
  background-repeat: no-repeat;
  background-position-y:bottom;
}

.social-icon_Instagram {
  background-image: url(../images/instagram_color_white.svg);
  background-repeat: no-repeat;
  background-position-y:bottom;
}
